<html>

<head>
    <title>Med</title>
</head>

{% load static %}

<link rel="stylesheet" href={% static '/css/style.css' %}>
<link rel="stylesheet" href={% static '/css/bootstrap.min.css' %}>

<body>

   

{% block body %}



<table class="table table-hover">
    <thead>
        <tr>
           
            <th>name</th>
            <th>phone</th>
            <th>address</th>
            <th>medicine</th>
            <th>Purchase date</th>
            <th>clearance status</th>
            

        
        </tr>
    </thead>

    <tbody>{% for i in orders %}
<tr>
        

    <td>{{ i.name }}</td>

    <td>{{ i.phone }}</td>

    <td>{{ i.address }}</td>

    <td>{{ i.medicine }}</td>

    <td>{{ i.purchase_date }}</td>

    <td>{{ i.clearance_status }}</td>
    {% endfor %}
    
</tr>

    </tbody>
</table>


{% endblock %}





      

</body>

</html>