<html>

        <head>
            <title>Med</title>
        </head>
        
        {% load static %}
        
        <link rel="stylesheet" href={% static '/css/style.css' %}>
        <link rel="stylesheet" href={% static '/css/bootstrap.min.css' %}>
        
        <body>

                <form method="post">
                        {% csrf_token %} {{ form }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span> Save
                              </button>
                        </div>
                      </form> 
            
        
        </body>
        
        </html> 
  
  
  
 

