{% extends 'base.html' %}

{% block body %}

<br>

<div class="user-def-btn-name">
        <a href="#" class="btn btn-primary btn-md" role="button">Add Item</a>
        <a href="#" class="btn btn-warning btn-sm" role="button">+</a>

</div>

<br>

<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>phone</th>
            <th>amount</th>

        
        </tr>
    </thead>

    <tbody>


    </tbody>
</table>


{% endblock %}